{# templates/productos/lista.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Lista de Productos
{% endblock %}

{% block content %}
	<h1>Lista de Productos</h1>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Descripci칩n</th>
				<th>C칩digo</th>
				<th>Stock</th>
				<th>Detalles</th>
			</tr>
		</thead>
		<tbody>
			{% for producto in productos %}
				<tr>
					<td>{{ producto.id }}</td>
					<td>{{ producto.nombre }}</td>
					<td>{{ producto.descripcion }}</td>
					<td>{{ producto.code }}</td>
					<td>{{ producto.stock }}</td>
					<td>
						<a href="{{ path('eliminar', {'id': producto.id}) }}" class="btn btn-danger">Eliminar</a>
						<a href="{{ path('a침adir', {'id': producto.id}) }}" class="btn btn-primary">A침adir al carrito</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}