{{ form_start(form) }}

<div class="mb-3 d-flex align-items-center">
    {{ form_row(form.user_id, {'attr': {'hidden': 'true'}}) }}
    <p class="mb-0 ms-2">{{ app.user.id }} - {{ app.user.username }}</p>
</div>

<div class="mb-3">
    <label class="form-label">Select Songs:</label>
    
    <div class="row">
        {% for song in form.songs_id %}
            <div class="col-md-3"> {# Utiliza col-md-3 para organizar en columnas de 4 en dispositivos medianos #}
                <div class="form-check">
                    {{ form_widget(song, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(song, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
