{% extends 'base.html.twig' %}

{% block title %}Songs index{% endblock %}

{% block body %}
    <h1>Songs index</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-6">
        {% for song in songs %}
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="{{ asset('uploads/images/' ~ song.cover) }}" class="card-img-top" alt="{{ song.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ song.title }}</h5>
                        <p class="card-text">{{ song.author }}</p>
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_songs_show', {'id': song.id}) }}" class="btn btn-primary btn-sm">Show</a>
                            <a href="{{ path('app_songs_edit', {'id': song.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                            <button class="btn btn-success btn-sm" onclick="playAudio('{{ asset('uploads/music/' ~ song.audio) }}')">Play</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>

    <a href="{{ path('app_songs_new') }}" class="btn btn-primary mt-3">Create new</a>

    <!-- Agregado un reproductor de audio oculto -->
    <audio id="audioPlayer" controls style="display: none;"></audio>

    <!-- Script para reproducir audio -->
    <script>
        function playAudio(audioUrl) {
            let audioPlayer = document.getElementById('audioPlayer');
            audioPlayer.src = audioUrl;
            audioPlayer.play();
        }
    </script>
{% endblock %}
