{% extends 'base.html.twig' %}

{% block title %}Songs index
{% endblock %}

{% block body %}
	<h1>Songs index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Author</th>
				<th>Cover</th>
				<th>Audio</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for song in songs %}
				<tr class="align-middle my-2">
					<td>{{ song.id }}</td>
					<td>{{ song.title }}</td>
					<td>{{ song.author }}</td>
					<td>{{ song.cover }}</td>
					<td>{{ song.audio }}</td>
					<td class="d-flex justify-content-between">
						<a href="{{ path('app_songs_show', {'id': song.id}) }}" class="btn btn-primary btn-sm">Show</a>
						<a href="{{ path('app_songs_edit', {'id': song.id}) }}" class="btn btn-warning btn-sm">Edit</a>
					</td>
				</tr>
			{% else %}
				<tr class="align-middle my-2">
					<td colspan="6">No records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


	<a href="{{ path('app_songs_new') }}">Create new</a>
{% endblock %}
